.header{
    background: linear-gradient(to right, #000000, #0011ff);
    display: flex;
    width: 100%;
    height: auto;
    margin: 0%;
}

.columnaUno{
    width: 20%;
}

.columnaDos{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.columnaTres{
    width: 20%;
    justify-content: center;

}

.foto{
    width: 80%;
    margin : 10%;
    border-radius: 100%;
}

.logo{
    width: 100%;
}

body{
    width: 100%;
    height: auto;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn{
    background-color: #00aeff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #0011ff;
    color: white;
    transition: all 0.3s ease;
}

.copyright{
    width: 100%;
    height: auto;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.cuerpo{
    margin: 5%;
}

.h2{
    font-size: 2em;
    color: #0011ff;
}

.casos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    gap: 5px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.apartados{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Justifica los botones a la izquierda */
    gap: 1px; /* Espaciado entre botones */
}

.ponteVertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(to right, #000000, #0011ff);

}
.carousel {
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    height: 500px;
    border: 1px #000000;
}

.carousel-slides img {
    width: auto;
    display: none;
    height: 500px;
    border:1px #000000;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}
.casos img{
    width: auto;
    height: 500px;
}